.list-container {
  padding-top: 2.5rem;
  text-align: center;
  width: 512px;
  max-height: 478px;

  position: relative;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
  margin: 0 auto;
  margin-top: 96px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}
.undone-count {
  justify-content: center;
  text-align: center;
}
.list-ul {
  list-style-type: none;
  padding: 0;
}
